body {
	background-color: rgb(162,191,79);
}
.form-control, .navbar, .btn, input, button, span {
	background-color: rgb(230,230,230);
}
.button-hide {
	display: none;
}
.button-show {
	display: block;
}
#button-guessed, #player-submit{
	width: 100%;
}
.board-answer-table {
	width: 95%;
}
.board-text {
	font-size: 30px;
}
.name-btn {
	width: 100%;
	margin-top: 4px;
}
.container-wide{
	width: 100%;
}
.navbar .container table {
	text-align: center;
}
.player-guessed {
	text-decoration: line-through;
	color: rgb(80, 80, 80);
}
div.push-to-bottom{
  position: fixed;
  bottom: 10px;
	text-align: center;
	width: 90%;
}
div.push-to-bottom button{
  width: 100%;
	margin-top: 4px;
}
.answer-text p {
	color: rgb(230,230,230);
}